.main-container {
  margin: 20px;
}

h1 {
  width: 100%;
}
.list-container {
  display: flex;
}
.result-container {
  margin-right: 20px;
  background-color: rgb(225, 226, 226);
  padding: 20px;
}

.saved-container {
  margin-right: 20px;
  background-color: rgb(225, 226, 226);
  padding: 20px;
}

.card {
  max-width: 350px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;

  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-bottom: 20px;
}

.logo {
  text-align: left;
  max-width: 100%;
  background-color: red;
}

.main-image {
  max-width: 100%;
}
.main-image img {
  width: 100%;
}
